* {
    text-align: center;
}
#board {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
}

.cell {
    box-sizing: border-box;
    border: 1px solid greenyellow;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin: 30px;
}